# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# images garbage
*.eps
*.psd
*.png
*.jpg
*.gif
*.ico

# matlab garbage
*.mex
*.asv
*.mat